<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= inp %> Not Available
    </title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500');

        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            min-height: 100vh;
            min-width: 100vw;
            font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
            color: black;
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto;
        }

        .container,
        .container>.row,
        .container>.row>div {
            height: 100%;
        }

        #countUp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="xs-12 md-6 mx-auto">
                <div id="countUp">
                    <h1>Not Available</h1>
                    <div class="number">"<%= inp %>"</div>
                    <div class="text">Page not found</div>
                    <div class="text">This may mean you entered wrong course code</div>
                    <div class="text">Or data is not available</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>